@import "bootstrap/scss/bootstrap";

.navbar {
  background-color: #5D98FF;
  padding:10px;
  .container-fluid{
    padding:0 250px 0 240px;
    a{
      color:white
    }
    .navbar-brand{
      font-size:30px;
    }
    ul{
      font-size:0;
    }
    .collapse{
      margin-left:100px;
      .navbar-nav{
        font-size:18px;
        white-space: nowrap;
      li{
        a{
          padding-right:20px;
        }
      }
      }
    }
  }
}


